The copyright for Add To iTunes Library.scpt belongs to Rogue Amoeba Software, LLC
So I will just show where to change, I can't give the whole thing here.

If you own a copy of Audio Hijack Pro http://www.rogueamoeba.com/audiohijackpro/ you can find the file here:
/Applications/Audio Hijack Pro.app/Contents/Resources/Recording Scripts/Add To iTunes Library.scpt

Copy Add To iTunes Library.scpt to ~/Documents
Then open with AppleScript Edit

Find these lines

repeat with theFile in theArgs
  set aTrack to (add theFile)
end repeat

Replace with this:

repeat with theFile in theArgs
  --I don't know how to get file size directly, so I use Finder
  tell application "Finder"
    set currentFile to select theFile
    set theSize to size of currentFile
  end tell
  --only proceed if file larger then 1MB, to avoid buffering noise added to iTunes, you can choose your own value.
  if theSize is greater than 1000000 then
    --change this to your lastjack.rb location
    set shellargs to "ruby /Volumes/Work/lastjack/lastjack.rb " & theFile
    do shell script shellargs
    set aTrack to (add theFile)
  end if
end repeat